apiVersion: v1
kind: Service
metadata:
  name: consul
  namespace: maushold
spec:
  selector:
    app: consul
  ports:
    - name: http
      port: 8500
      targetPort: 8500
    - name: dns
      port: 8600
      targetPort: 8600
    - name: server
      port: 8300
      targetPort: 8300
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: consul
  namespace: maushold
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consul
  template:
    metadata:
      labels:
        app: consul
    spec:
      containers:
      - name: consul
        image: hashicorp/consul:1.19.2
        ports:
        - containerPort: 8500
        - containerPort: 8600
        - containerPort: 8300
        command:
        - consul
        - agent
        - -server
        - -ui
        - -bootstrap-expect=1
        - -client=0.0.0.0
        - -bind=0.0.0.0
        - -data-dir=/consul/data
        volumeMounts:
        - name: consul-data
          mountPath: /consul/data
      volumes:
      - name: consul-data
        emptyDir: {}
